In [1]:
from absenteeism_module import *

In [2]:
pd.read_csv("./Datasets/Absenteeism_new_data.csv")

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,22,27,01/06/2018,179,26,30,237.656,19,3,0,0
1,10,7,04/06/2018,361,52,28,237.656,27,1,1,4
2,14,23,06/06/2018,155,12,34,237.656,25,1,2,0
3,17,25,08/06/2018,179,22,40,237.656,22,2,2,0
4,14,10,08/06/2018,155,12,34,237.656,25,1,2,0
5,28,11,11/06/2018,225,26,28,237.656,24,1,1,2
6,16,7,13/06/2018,118,15,46,275.089,25,1,2,0
7,22,27,13/06/2018,179,26,30,275.089,19,3,0,0
8,34,26,15/06/2018,118,10,37,275.089,28,1,0,0
9,34,10,20/06/2018,118,10,37,275.089,28,1,0,0
10,23,22,21/06/2018,378,49,36,275.089,21,1,2,4
11,36,19,21/06/2018,118,13,50,275.089,31,1,1,0
12,12,19,22/06/2018,233,51,31,275.089,21,2,1,8
13,22,27,22/06/2018,179,26,30,275.089,19,3,0,0
14,2,0,25/06/2018,235,29,48,275.089,33,1,1,5
15,21,0,28/06/2018,268,11,33,275.089,25,2,0,0
16,36,19,28/06/2018,118,13,50,275.089,31,1,1,0
17,22,13,28/06/2018,179,26,30,275.089,19,3,0,0
18,15,28,28/06/2018,291,31,40,275.089,25,1,1,1
19,22,13,02/07/2018,179,26,30,275.089,19,3,0,0
20,34,25,02/07/2018,118,10,37,275.089,28,1,0,0
21,12,22,05/07/2018,233,51,31,275.089,21,2,1,8
22,34,8,06/07/2018,118,10,37,275.089,28,1,0,0
23,34,10,11/07/2018,118,10,37,275.089,28,1,0,0
24,12,22,11/07/2018,233,51,31,275.089,21,2,1,8
25,5,26,11/07/2018,235,20,43,264.604,38,1,1,0
26,12,19,13/07/2018,233,51,31,264.604,21,2,1,8
27,9,6,16/07/2018,228,14,58,264.604,22,1,2,1
28,34,28,16/07/2018,118,10,37,264.604,28,1,0,0
29,9,6,17/07/2018,228,14,58,264.604,22,1,2,1
30,6,22,17/07/2018,189,29,33,264.604,25,1,2,2
31,34,23,18/07/2018,118,10,37,264.604,28,1,0,0
32,10,22,18/07/2018,361,52,28,264.604,27,1,1,4
33,28,22,18/07/2018,225,26,28,264.604,24,1,1,2
34,13,13,23/07/2018,369,17,31,264.604,25,1,3,0
35,11,14,24/07/2018,289,36,33,264.604,30,1,2,1
36,1,11,24/07/2018,235,11,37,264.604,29,3,1,1
37,4,0,24/07/2018,118,14,40,271.219,34,1,1,8
38,8,0,25/07/2018,231,35,39,271.219,35,1,2,2
39,35,0,27/07/2018,179,45,53,271.219,25,1,1,1

In [3]:
model = absenteeism_model('model','scaler')

In [4]:
model.load_and_clean_data("./Datasets/Absenteeism_new_data.csv")

In [5]:
df_new_ob = model.predicted_outputs()
df_new_ob

,RT_1,RT_2,RT_3,RT_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.121553,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.878409,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.262451,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.199427,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.738067,1
5,1,0.0,0,0,6,225,28,24,0,1,2,0.726938,1
6,1,0.0,0,0,6,118,46,25,0,2,0,0.590297,1
7,0,0.0,0,1,6,179,30,19,1,0,0,0.121553,0
8,0,0.0,0,1,6,118,37,28,0,0,0,0.129128,0
9,1,0.0,0,0,6,118,37,28,0,0,0,0.540045,1
10,0,0.0,0,1,6,378,36,21,0,2,4,0.442039,0
11,0,0.0,1,0,6,118,50,31,0,1,0,0.628430,1
12,0,0.0,1,0,6,233,31,21,1,1,8,0.332427,0
13,0,0.0,0,1,6,179,30,19,1,0,0,0.121553,0
14,0,0.0,0,0,6,235,48,33,0,1,5,0.057473,0
15,0,0.0,0,0,6,268,33,25,1,0,0,0.122045,0
16,0,0.0,1,0,6,118,50,31,0,1,0,0.628430,1
17,1,0.0,0,0,6,179,30,19,1,0,0,0.522835,1
18,0,0.0,0,1,6,291,40,25,0,1,1,0.379941,0
19,1,0.0,0,0,7,179,30,19,1,0,0,0.534602,1
20,0,0.0,0,1,7,118,37,28,0,0,0,0.134533,0
21,0,0.0,0,1,7,233,31,21,1,1,8,0.051950,0
22,1,0.0,0,0,7,118,37,28,0,0,0,0.551751,1
23,1,0.0,0,0,7,118,37,28,0,0,0,0.551751,1
24,0,0.0,0,1,7,233,31,21,1,1,8,0.051950,0
25,0,0.0,0,1,7,235,43,38,0,1,0,0.520218,1
26,0,0.0,1,0,7,233,31,21,1,1,8,0.342988,0
27,1,0.0,0,0,7,228,58,22,0,2,1,0.661928,1
28,0,0.0,0,1,7,118,37,28,0,0,0,0.134533,0
29,1,0.0,0,0,7,228,58,22,0,2,1,0.661928,1
30,0,0.0,0,1,7,189,33,25,0,2,2,0.246058,0
31,0,0.0,0,1,7,118,37,28,0,0,0,0.134533,0
32,0,0.0,0,1,7,361,28,27,0,1,4,0.488867,0
33,0,0.0,0,1,7,225,28,24,0,1,2,0.260602,0
34,1,0.0,0,0,7,369,31,25,0,3,0,0.970470,1
35,1,0.0,0,0,7,289,33,30,0,2,1,0.921721,1
36,1,0.0,0,0,7,235,37,29,1,1,1,0.776277,1
37,0,0.0,0,0,7,118,40,34,0,1,8,0.013688,0
38,0,0.0,0,0,7,231,39,35,0,2,2,0.203861,0
39,0,0.0,0,0,7,179,53,25,0,1,1,0.047486,0

In [6]:
import pymysql

In [7]:
conn = pymysql.connect(database = 'predicted_outputs', user = 'root', password = '1k6y9qm87q0j')

In [8]:
cursor = conn.cursor()

## execute sql code from python

In [9]:
cursor.execute('Select * from predicted_outputs')

0

In [10]:
query = 'Select * FROM predicted_outputs'
cursor.execute(query)

0

## Create the INSERT statement

In [73]:
insert_query = "INSERT INTO predicted_outputs VALUES"

In [74]:
insert_query

'INSERT INTO predicted_outputs VALUES'

In [75]:
df_new_ob.shape

(40, 13)

In [76]:
df_new_ob.columns.values

array(['RT_1', 'RT_2', 'RT_3', 'RT_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Probability', 'Prediction'], dtype=object)

In [77]:
df_new_ob[df_new_ob.columns.values[6]][0]

30

In [78]:
for i in range(df_new_ob.shape[0]):
    insert_query += '('
    for j in range(df_new_ob.shape[1]):
        insert_query += str(df_new_ob[df_new_ob.columns.values[j]][i]) + ', '
    insert_query = insert_query[:-2] + "), "

In [79]:
insert_query

'INSERT INTO predicted_outputs VALUES(0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12155293364854085, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8784087002602301, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.26245130594069427, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.19942685656790754, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.73806657100078, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7269381204813703, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5902969924868475, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12155293364854085, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.12912849024522124, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5400449727577262, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.4420387872155076, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.628429582727074, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.33242666321663733, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12155293364854085, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.05747272593486693, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.12204480604257402, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.628429582727074, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.5228351972267686, 1), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.37994072734981915, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.5346018820607991, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13453276457548738, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.05195037180655224, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5517511158029481, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5517511158029481, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.05195037180655224, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5202176076688474, 1), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.34298835763028046, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.661927598121306, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13453276457548738, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.661927598121306, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.24605813012074648, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13453276457548738, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.48886711780054737, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.26060189960275126, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9704701270613091, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.921721379737275, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7762769406609445, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.013687929448011088, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.20386135708296735, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.047486329350212825, 0), '

In [80]:
insert_query = insert_query[:-2] +';'

In [81]:
insert_query

'INSERT INTO predicted_outputs VALUES(0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12155293364854085, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8784087002602301, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.26245130594069427, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.19942685656790754, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.73806657100078, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7269381204813703, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5902969924868475, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12155293364854085, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.12912849024522124, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5400449727577262, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.4420387872155076, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.628429582727074, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.33242666321663733, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12155293364854085, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.05747272593486693, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.12204480604257402, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.628429582727074, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.5228351972267686, 1), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.37994072734981915, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.5346018820607991, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13453276457548738, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.05195037180655224, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5517511158029481, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5517511158029481, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.05195037180655224, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5202176076688474, 1), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.34298835763028046, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.661927598121306, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13453276457548738, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.661927598121306, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.24605813012074648, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13453276457548738, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.48886711780054737, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.26060189960275126, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9704701270613091, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.921721379737275, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7762769406609445, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.013687929448011088, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.20386135708296735, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.047486329350212825, 0);'

In [82]:
cursor.execute(insert_query)

40

In [83]:
conn.commit() #to show data in workbench from python sql statment

In [84]:
conn.close() #close connection after finishing