## Predict Absenteeism using Logistic Regression

### Import relevant libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_preprocessed = pd.read_csv('./Datasets/data_preprocessed.csv')

In [3]:
data_preprocessed.head()

,RT_1,RT_2,RT_3,RT_4,Month Value,Day of the Week,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,2015-07-07,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,2015-07-14,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,2015-07-15,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,2015-07-16,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,2015-07-23,289,36,33,239.554,30,0,2,1,2

## Creating Targets

consider the median as prediction cut-off value; hours below median are considered moderate absenteesim and values above median are excessive

In [4]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [5]:
targets = np.where(
    data_preprocessed['Absenteeism Time in Hours'] >
    data_preprocessed['Absenteeism Time in Hours'].median()
                   , 1, 0)

In [6]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [7]:
data_preprocessed['Excessive Absenteeism'] = targets

In [8]:
data_preprocessed.head()

,RT_1,RT_2,RT_3,RT_4,Month Value,Day of the Week,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,2015-07-07,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,2015-07-14,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,2015-07-15,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,2015-07-16,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,2015-07-23,289,36,33,239.554,30,0,2,1,2,0

### Comment on targets

In [9]:
targets.sum() / targets.shape[0]

0.45571428571428574

In [10]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours', 'Date', 'Day of the Week', 'Daily Work Load Average', 'Distance to Work'], axis=1)

In [11]:
data_with_targets is data_preprocessed

False

In [12]:
data_with_targets.head()

,RT_1,RT_2,RT_3,RT_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0

## Selecting inputs for the regression

In [13]:
data_with_targets.shape

(700, 12)

In [14]:
data_with_targets.iloc[:,:14]

,RT_1,RT_2,RT_3,RT_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0,1
696,1,0,0,0,5,225,28,24,0,1,2,0
697,1,0,0,0,5,330,28,25,1,0,0,1
698,0,0,0,1,5,235,32,25,1,0,0,0
699,0,0,0,1,5,291,40,25,0,1,1,0

In [15]:
data_with_targets.iloc[:,:-1]

,RT_1,RT_2,RT_3,RT_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0
696,1,0,0,0,5,225,28,24,0,1,2
697,1,0,0,0,5,330,28,25,1,0,0
698,0,0,0,1,5,235,32,25,1,0,0
699,0,0,0,1,5,291,40,25,0,1,1

In [16]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

## Standardize the data

In [17]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator,TransformerMixin): 
    
    def __init__(self,columns):
        self.scaler = StandardScaler()
        self.columns = columns
        self.mean_ = None
        self.var_ = None

    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self

    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [18]:
unscaled_inputs.columns.values

array(['RT_1', 'RT_2', 'RT_3', 'RT_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [19]:
#columns_to_scale = ['Month Value', 'Day of the Week',
#       'Transportation Expense', 'Distance to Work', 'Age',
#       'Daily Work Load Average', 'Body Mass Index',
#       'Children', 'Pets']
columns_to_omit = ['RT1','RT_2','RT_3','RT_4','Education']
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [20]:
absenteeism_scaler = CustomScaler(columns_to_scale)

In [21]:
absenteeism_scaler.fit(unscaled_inputs)

C:\Users\sayed\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3462: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

CustomScaler(columns=['RT_1', 'Month Value', 'Transportation Expense', 'Age',
                      'Body Mass Index', 'Children', 'Pets'])

In [22]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [23]:
scaled_inputs

,RT_1,RT_2,RT_3,RT_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,-0.577350,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,-0.577350,0,0,0,0.182726,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,-0.577350,0,0,1,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1.732051,0,0,0,0.182726,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,-0.577350,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,1.732051,0,0,0,-0.388293,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1.732051,0,0,0,-0.388293,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1.732051,0,0,0,-0.388293,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,-0.577350,0,0,1,-0.388293,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,-0.577350,0,0,1,-0.388293,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

In [24]:
scaled_inputs.shape

(700, 11)

## Split data into train & test and Shuffle

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
train_test_split(scaled_inputs, targets)
#training dataset with inputs
#training dataset with target
#test dataset with inputs
# test data set with targets

[         RT_1  RT_2  RT_3  RT_4  Month Value  Transportation Expense  \
 154 -0.577350     0     1     0    -1.244823               -0.503235
 508  1.732051     0     0     0     1.039256                0.190942
 127 -0.577350     0     0     1    -1.530333               -1.574681
 150 -0.577350     0     0     1    -1.244823                0.040034
 166 -0.577350     0     0     1    -0.959313                0.568211
 ..        ...   ...   ...   ...          ...                     ...
 411 -0.577350     0     0     1    -0.959313                0.356940
 538  1.732051     0     0     0     1.324766                0.190942
 384  1.732051     0     0     0    -1.244823               -0.986140
 179  1.732051     0     0     0    -0.959313               -0.654143
 525  1.732051     0     0     0     1.039256                2.213108

           Age  Body Mass Index  Education  Children      Pets
 154 -0.536062        -0.408580          0  0.880469  1.126663
 508 -0.692937        -0.408580          1 -0.919030 -0.589690
 127  0.091435         0.297027          0 -0.919030 -0.589690
 150 -1.320435        -0.643782          0 -0.019280  1.126663
 166 -0.065439        -0.878984          0  2.679969 -0.589690
 ..        ...              ...        ...       ...       ...
 411  0.718933        -0.878984          0 -0.919030 -0.589690
 538 -0.692937        -0.408580          1 -0.919030 -0.589690
 384 -1.163560        -1.114186          0 -0.919030 -0.589690
 179  0.248310         1.002633          0 -0.919030 -0.589690
 525 -0.849811        -0.408580          0  1.780219 -0.589690

 [525 rows x 11 columns],
          RT_1  RT_2  RT_3  RT_4  Month Value  Transportation Expense  \
 350 -0.577350     0     0     1     1.610276                0.190942
 320 -0.577350     0     0     1     1.324766                0.568211
 164  1.732051     0     0     0    -0.959313               -0.654143
 550  1.732051     0     0     0     1.324766                0.387122
 282 -0.577350     0     0     1     0.753746                0.568211
 ..        ...   ...   ...   ...          ...                     ...
 540 -0.577350     0     0     1     1.324766                2.092381
 186 -0.577350     0     0     1    -0.673803               -1.016322
 599 -0.577350     0     0     1    -1.244823                0.040034
 309 -0.577350     0     0     1     1.039256               -1.574681
 375 -0.577350     0     0     1    -1.244823               -0.654143

           Age  Body Mass Index  Education  Children      Pets
 350  0.091435         0.532229          1 -0.019280  0.268487
 320 -0.065439        -0.878984          0  2.679969 -0.589690
 164  0.562059        -1.114186          1  0.880469 -0.589690
 550  1.660180         1.237836          0  0.880469  0.268487
 282 -0.065439        -0.878984          0  2.679969 -0.589690
 ..        ...              ...        ...       ...       ...
 540 -1.320435         0.061825          0 -0.019280  2.843016
 186 -0.379188        -0.408580          0  0.880469 -0.589690
 599 -1.320435        -0.643782          0 -0.019280  1.126663
 309  2.130803         1.002633          0 -0.019280 -0.589690
 375  0.248310         1.002633          0 -0.919030 -0.589690

 [175 rows x 11 columns],
 array([1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
        0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1,
        1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
        0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1,
        0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
        0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
        1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1,
        1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
        0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0,
        1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1,
        1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
        0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
        0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0,
        0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
        0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
        0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
        0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
        0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1,
        0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
        0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1]),
 array([0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1,
        1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0,
        0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
        1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1,
        0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
        1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0])]

In [27]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8, shuffle=True, random_state = 20)

In [28]:
print(x_train.shape, y_train.shape)

(560, 11) (560,)

In [29]:
print(x_test.shape, y_test.shape)

(140, 11) (140,)

## Logistic Regression with sklearn

In [30]:
from sklearn.linear_model import LogisticRegression 
from sklearn import metrics

### Training the model

In [31]:
reg = LogisticRegression()

In [32]:
reg.fit(x_train,y_train)

LogisticRegression()

In [33]:
reg.score(x_train,y_train)

0.7696428571428572

# Manually check the accuracy

In [34]:
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [35]:
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [36]:
model_outputs == y_train

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
       False, False,  True,  True, False,  True, False,  True,  True,
        True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True,  True,  True,  True,  True, False,
       False, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
       False,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True, False, False,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True, False,
        True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True])

In [37]:
np.sum((model_outputs==y_train))

431

In [38]:
model_outputs.shape[0]

560

In [39]:
np.sum((model_outputs==y_train))/model_outputs.shape[0]

0.7696428571428572

### finding intercept and coefficents

In [40]:
reg.intercept_

array([-1.16755845])

In [41]:
reg.coef_

array([[ 1.39693427,  1.12241598,  3.41098407,  1.15687133,  0.16540491,
         0.61972054, -0.17249658,  0.29075422, -0.21354365,  0.36308457,
        -0.27892662]])

In [42]:
feature_name = unscaled_inputs.columns.values

In [43]:
summary_table = pd.DataFrame(columns=['Feature name'], data = feature_name)
summary_table['Coefficient'] = np.transpose(reg.coef_)
summary_table

              Feature name  Coefficient
0                     RT_1     1.396934
1                     RT_2     1.122416
2                     RT_3     3.410984
3                     RT_4     1.156871
4              Month Value     0.165405
5   Transportation Expense     0.619721
6                      Age    -0.172497
7          Body Mass Index     0.290754
8                Education    -0.213544
9                 Children     0.363085
10                    Pets    -0.278927

In [44]:
summary_table.index = summary_table.index + 1 
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept    -1.167558
1                     RT_1     1.396934
2                     RT_2     1.122416
3                     RT_3     3.410984
4                     RT_4     1.156871
5              Month Value     0.165405
6   Transportation Expense     0.619721
7                      Age    -0.172497
8          Body Mass Index     0.290754
9                Education    -0.213544
10                Children     0.363085
11                    Pets    -0.278927

### Interpreting the coefficients

In [45]:
summary_table['Odd_ratio'] = np.exp(summary_table.Coefficient)
summary_table

              Feature name  Coefficient  Odd_ratio
0                Intercept    -1.167558   0.311126
1                     RT_1     1.396934   4.042787
2                     RT_2     1.122416   3.072268
3                     RT_3     3.410984  30.295042
4                     RT_4     1.156871   3.179969
5              Month Value     0.165405   1.179871
6   Transportation Expense     0.619721   1.858409
7                      Age    -0.172497   0.841561
8          Body Mass Index     0.290754   1.337436
9                Education    -0.213544   0.807717
10                Children     0.363085   1.437757
11                    Pets    -0.278927   0.756595

In [46]:
summary_table.sort_values('Odd_ratio', ascending=False) ##odd ratio close to 1 means we should drop it

              Feature name  Coefficient  Odd_ratio
3                     RT_3     3.410984  30.295042
1                     RT_1     1.396934   4.042787
4                     RT_4     1.156871   3.179969
2                     RT_2     1.122416   3.072268
6   Transportation Expense     0.619721   1.858409
10                Children     0.363085   1.437757
8          Body Mass Index     0.290754   1.337436
5              Month Value     0.165405   1.179871
7                      Age    -0.172497   0.841561
9                Education    -0.213544   0.807717
11                    Pets    -0.278927   0.756595
0                Intercept    -1.167558   0.311126

## Testing the model

In [47]:
reg.score(x_test,y_test)

0.75

In [48]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.71585409, 0.28414591],
       [0.58616296, 0.41383704],
       [0.43295288, 0.56704712],
       [0.78613548, 0.21386452],
       [0.07394488, 0.92605512],
       [0.31703666, 0.68296334],
       [0.27899288, 0.72100712],
       [0.13196566, 0.86803434],
       [0.79020988, 0.20979012],
       [0.75266703, 0.24733297],
       [0.48752494, 0.51247506],
       [0.21729605, 0.78270395],
       [0.07103871, 0.92896129],
       [0.73380394, 0.26619606],
       [0.31813645, 0.68186355],
       [0.54875841, 0.45124159],
       [0.54641922, 0.45358078],
       [0.53469127, 0.46530873],
       [0.38154465, 0.61845535],
       [0.05280022, 0.94719978],
       [0.70139374, 0.29860626],
       [0.78613548, 0.21386452],
       [0.4021181 , 0.5978819 ],
       [0.4021181 , 0.5978819 ],
       [0.25547992, 0.74452008],
       [0.74839439, 0.25160561],
       [0.5075175 , 0.4924825 ],
       [0.86249055, 0.13750945],
       [0.20913881, 0.79086119],
       [0.78613548, 0.21386452],
       [0.63111998, 0.36888002],
       [0.30206817, 0.69793183],
       [0.29694812, 0.70305188],
       [0.46397252, 0.53602748],
       [0.78613548, 0.21386452],
       [0.45992749, 0.54007251],
       [0.78227376, 0.21772624],
       [0.27195575, 0.72804425],
       [0.59156123, 0.40843877],
       [0.38736459, 0.61263541],
       [0.79396792, 0.20603208],
       [0.53611682, 0.46388318],
       [0.76575896, 0.23424104],
       [0.66784795, 0.33215205],
       [0.15547947, 0.84452053],
       [0.44923749, 0.55076251],
       [0.29022956, 0.70977044],
       [0.71585409, 0.28414591],
       [0.78641784, 0.21358216],
       [0.80158591, 0.19841409],
       [0.40739307, 0.59260693],
       [0.73535295, 0.26464705],
       [0.31703666, 0.68296334],
       [0.73499563, 0.26500437],
       [0.15173151, 0.84826849],
       [0.56308111, 0.43691889],
       [0.11704922, 0.88295078],
       [0.77244442, 0.22755558],
       [0.72740719, 0.27259281],
       [0.71794331, 0.28205669],
       [0.28412499, 0.71587501],
       [0.32734916, 0.67265084],
       [0.70921866, 0.29078134],
       [0.21320397, 0.78679603],
       [0.79508784, 0.20491216],
       [0.73466823, 0.26533177],
       [0.93736578, 0.06263422],
       [0.78227376, 0.21772624],
       [0.27875491, 0.72124509],
       [0.69531993, 0.30468007],
       [0.78227376, 0.21772624],
       [0.77083831, 0.22916169],
       [0.08422735, 0.91577265],
       [0.53352449, 0.46647551],
       [0.3907923 , 0.6092077 ],
       [0.78613548, 0.21386452],
       [0.23353626, 0.76646374],
       [0.24928558, 0.75071442],
       [0.24167074, 0.75832926],
       [0.3071302 , 0.6928698 ],
       [0.7571821 , 0.2428179 ],
       [0.94470936, 0.05529064],
       [0.77244442, 0.22755558],
       [0.22877051, 0.77122949],
       [0.56330257, 0.43669743],
       [0.88340018, 0.11659982],
       [0.27761505, 0.72238495],
       [0.4021181 , 0.5978819 ],
       [0.8111917 , 0.1888083 ],
       [0.30206817, 0.69793183],
       [0.82903157, 0.17096843],
       [0.85408572, 0.14591428],
       [0.77808851, 0.22191149],
       [0.73466823, 0.26533177],
       [0.75266703, 0.24733297],
       [0.13584484, 0.86415516],
       [0.70615114, 0.29384886],
       [0.21890356, 0.78109644],
       [0.76165826, 0.23834174],
       [0.785065  , 0.214935  ],
       [0.3685523 , 0.6314477 ],
       [0.30206817, 0.69793183],
       [0.28752854, 0.71247146],
       [0.23862821, 0.76137179],
       [0.54525685, 0.45474315],
       [0.50996117, 0.49003883],
       [0.72536126, 0.27463874],
       [0.13584484, 0.86415516],
       [0.20630826, 0.79369174],
       [0.85987318, 0.14012682],
       [0.94944056, 0.05055944],
       [0.08537046, 0.91462954],
       [0.35188292, 0.64811708],
       [0.66344822, 0.33655178],
       [0.47167789, 0.52832211],
       [0.4330287 , 0.5669713 ],
       [0.21958765, 0.78041235],
       [0.16089791, 0.83910209],
       [0.43877539, 0.56122461],
       [0.69140986, 0.30859014],
       [0.74377121, 0.25622879],
       [0.84480945, 0.15519055],
       [0.17981262, 0.82018738],
       [0.53611682, 0.46388318],
       [0.78613548, 0.21386452],
       [0.64313247, 0.35686753],
       [0.79396792, 0.20603208],
       [0.89518281, 0.10481719],
       [0.24136294, 0.75863706],
       [0.70139374, 0.29860626],
       [0.37621889, 0.62378111],
       [0.79396792, 0.20603208],
       [0.70615114, 0.29384886],
       [0.64313247, 0.35686753],
       [0.73754869, 0.26245131],
       [0.47167789, 0.52832211],
       [0.53469127, 0.46530873],
       [0.68522412, 0.31477588],
       [0.76165826, 0.23834174],
       [0.53352449, 0.46647551]])

In [49]:
predicted_proba.shape #col1 -> target: 0 col2: target-> 1

(140, 2)

In [50]:
predicted_proba[:,1]

array([0.28414591, 0.41383704, 0.56704712, 0.21386452, 0.92605512,
       0.68296334, 0.72100712, 0.86803434, 0.20979012, 0.24733297,
       0.51247506, 0.78270395, 0.92896129, 0.26619606, 0.68186355,
       0.45124159, 0.45358078, 0.46530873, 0.61845535, 0.94719978,
       0.29860626, 0.21386452, 0.5978819 , 0.5978819 , 0.74452008,
       0.25160561, 0.4924825 , 0.13750945, 0.79086119, 0.21386452,
       0.36888002, 0.69793183, 0.70305188, 0.53602748, 0.21386452,
       0.54007251, 0.21772624, 0.72804425, 0.40843877, 0.61263541,
       0.20603208, 0.46388318, 0.23424104, 0.33215205, 0.84452053,
       0.55076251, 0.70977044, 0.28414591, 0.21358216, 0.19841409,
       0.59260693, 0.26464705, 0.68296334, 0.26500437, 0.84826849,
       0.43691889, 0.88295078, 0.22755558, 0.27259281, 0.28205669,
       0.71587501, 0.67265084, 0.29078134, 0.78679603, 0.20491216,
       0.26533177, 0.06263422, 0.21772624, 0.72124509, 0.30468007,
       0.21772624, 0.22916169, 0.91577265, 0.46647551, 0.6092077 ,
       0.21386452, 0.76646374, 0.75071442, 0.75832926, 0.6928698 ,
       0.2428179 , 0.05529064, 0.22755558, 0.77122949, 0.43669743,
       0.11659982, 0.72238495, 0.5978819 , 0.1888083 , 0.69793183,
       0.17096843, 0.14591428, 0.22191149, 0.26533177, 0.24733297,
       0.86415516, 0.29384886, 0.78109644, 0.23834174, 0.214935  ,
       0.6314477 , 0.69793183, 0.71247146, 0.76137179, 0.45474315,
       0.49003883, 0.27463874, 0.86415516, 0.79369174, 0.14012682,
       0.05055944, 0.91462954, 0.64811708, 0.33655178, 0.52832211,
       0.5669713 , 0.78041235, 0.83910209, 0.56122461, 0.30859014,
       0.25622879, 0.15519055, 0.82018738, 0.46388318, 0.21386452,
       0.35686753, 0.20603208, 0.10481719, 0.75863706, 0.29860626,
       0.62378111, 0.20603208, 0.29384886, 0.35686753, 0.26245131,
       0.52832211, 0.46530873, 0.31477588, 0.23834174, 0.46647551])

# Saving model

In [51]:
import pickle

In [52]:
with open('model', 'wb') as file:
    pickle.dump(reg, file)

In [53]:
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler, file)